header.header 
	.container 
		.header__top 
			a.logo(href='#')
				include ../../images/header-logo.svg
			button.header__btn BUY
			a.header__phone(href='tel:+17777777') +1 777 77 77

		.header__content 
			.header__content-box
				h1.header__title RAY AIR POCKET
				p.header__text INFLATABLE SUP BOARD
				p.header__text SIZES: 11'6"X31"
			p.header__decor-text.header__decor-text--first DOM 
			p.header__decor-text.header__decor-text--second FREE
			p.header__decor-text.header__decor-text--third PACK SMALL FOR BIG ADVENTURES